<h1>FAQ</h1>
<ol>
    <li>
        <blockquote class=blockquote>
            <p><%= t 'faq.Q1' %></p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <%= t 'faq.A1' %>
        </figcaption>
    </li>

    <li>
        <blockquote class=blockquote>
            <p><%= t 'faq.Q2' %></p>
        </blockquote>
        <figcaption class="blockquote-footer mb-0 pb-2">
            <%= t 'faq.A2' %>
        </figcaption>    
    </li>
</ol>