<h1>FAQ</h1>
<ol>
    <li>
        <blockquote class=blockquote>
            <p>Who made this amazing website?</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            It's me! Mario!
        </figcaption>
    </li>

    <li>
        <blockquote class=blockquote>
            <p>Did you take inspiration from HackerNews?</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Pfff! No!
        </figcaption>    
    </li>
</ol>