<h1>Guidelines</h1>
<ol>
    <li>
        <p>Found an interesting news post? <strong>Post it on Cyberpunk News!</strong></p>
    </li>
    <li>
        <p>Bored of clickbait titles, and pointless articles? <strong>Use only Cyberpunk News!</strong></p>
    </li>
    <li>
        <p><strong><em>Don't you dare</em></strong> post a low-quality news story here!</p>
    </li>
</ol>