<h1><%= t 'guidelines.default' %></h1>
<ol>
    <li>
        <p><%= t 'guidelines.found_news_html' %></p>
    </li>
    <li>
        <p><%= t 'guidelines.bored_html' %></p>
    </li>
    <li>
        <p><%= t 'guidelines.warning_html' %></p>
    </li>
</ol>