<ol>
    <li class="fs-4 lh-sm mb-2 text-secondary">
        <a href="#">
            <i class="fa-solid fa-circle-up text-secondary"></i>
        </a>
        <span class="lh-1 mt-2">
            <a href="#" class="fs-4 text-dark">
            Upcoming Hardening in PHP
            </a>
        </span>
        <span class="fs-6 text-secondary">
            (dustri.org)
        </span>
        <div class="fs-5 mt-1 text-secondary">
            167 points by mmsc 10 hours ago&emsp;|&emsp;hide&emsp;|&emsp;43 comments
        </div>
    </li>


    <li class="fs-4 lh-sm mb-1 text-secondary">
        <a href="#">
            <i class="fa-solid fa-circle-up text-secondary"></i>
        </a>
        <span class="mt-2">
            <a href="#" class="fs-4 text-dark">
            MomBoard: E-ink display for a parent with amnesia
            </a>
        </span> 
        <span class="fs-6 text-secondary">
            (miksovsky.com)
        </span>
        <div class="fs-5 mt-1 text-secondary">
            1421 points by pabs3 20 hours ago&emsp;|&emsp;hide&emsp;|&emsp;172 comments
        </div>
    </li>
</ol>
