<%= turbo_frame_tag comment do %>

    <li class="lh-sm pb-2">
        <div class="comment-header fs-6">
            <i class="fa-solid fa-circle-up text-secondary"></i>
            <span>
                <%= comment.user.username %>
            </span>
            <span>
                <%= time_ago_in_words(comment.created_at) %>
                ago
            </span>
            <span>|</span>
            <span>next</span>
        </div>

        <div class="comment-content fs-5 pt-1 text-dark">
            <div class="comment-tab"></div>
            <div class="comment-text">
                <%= simple_format(comment.content) %>
            </div>
        </div>
    </li>
<% end %>