// COLOR AND FONT STYLING
.text-highlight {
    color: #ff6600;
}
.bg-body-main-color {
    background-color: #ff6600;
}
.bg-body-side-color {
    background-color: rgb(246, 246, 239);
}
.border-main-color {
    border-color: #ff6600;
}
.border-3 {
    margin-top: 0;
}
.content-container {
    a {
        text-decoration: none;
        color: inherit;
    }
    p {
        margin-bottom: 0;
    }
}

// NAVIGATION BARS
nav {
    div.container-fluid {
        padding: 0 5vw;
    }
    .navbar-brand {
        --bs-navbar-brand-font-size: 1.5rem;
        height: auto;
        font-weight: bold;
    }
    .navbar-nav > li > a,
    .login-link {
        padding-top:    0;
        padding-bottom: 0;
        line-height:    1.25rem;
        font-size:      1.25rem;
        font-weight:    500;
    }
    .navbar-nav > li > a {
        --bs-navbar-nav-link-padding-x: 1rem;
    }
    .navbar-nav > li ~ li > a {
        border-left:  1px solid rgba($color: #000000, $alpha: 1);
    }
    .navbar-collapse {
        box-shadow: none;
    }

    .languages {
        list-style-type: none;
        margin-right: 0.5rem;
        padding-top:    0;
        margin-bottom: 0;

        li {
            float: right;
            margin-right: 0.5rem;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}
nav.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

// CONTENT STYLES
.content-container {
    ol {
        margin-bottom: 0
    }
    label {
        display: block;
    }
    .btn {
        --bs-btn-padding-x: 0;
        --bs-btn-padding-y: 0;
        --bs-btn-font-size: inherit;
        --bs-btn-line-height: inherit;
    }
}
.clean-list {
    list-style-type: none;
    padding-left: 0;
}



.comment-header {
    display: flex;
    align-items: center;
    span {
        padding-left: 0.25rem;
    }
}
.comment-body {
   display: flex;
}
.comment-tab {
    flex: 0 0 1rem;
}
.comment-text {
    flex-grow: 1;
    padding-left: 0.25rem;
    margin-bottom: 0.75rem;
    p ~ p {
        padding-top: 0.75rem;
    }
}

// FOOTER STYLES


// ALERT STYLES
body {
    .alert {
        --bs-alert-margin-bottom: 0;
    }

}
