// COLOR AND FONT STYLING
.text-highlight {
    color: #ff6600;
}
.test {
    border: 1px solid black;
    background-color: yellow;
}
.bg-body-main-color {
    background-color: #ff6600;
}
.bg-body-side-color {
    background-color: rgb(246, 246, 239);
}
.border-main-color {
    border-color: #ff6600;
}
.border-3 {
    margin-top: 0;
}
.content-container {
    a {
        text-decoration: none;
        color: #000000;
    }
    p {
        margin-bottom: 0;
    }
}

// NAVIGATION BARS
nav {
    div.container-fluid {
        padding: 0 5vw;
    }
    .navbar-brand {
        --bs-navbar-brand-font-size: 1.5em;
        height: auto;
        font-weight: bold;
    }
    .navbar-nav > li > a,
    .login-link {
        padding-top:    0;
        padding-bottom: 0;
        line-height:    1.25em;
        font-size:      1.25em;
        font-weight:    500;
    }
    .navbar-nav > li > a {
        --bs-navbar-nav-link-padding-x: 1em;
    }
    .navbar-nav > li ~ li > a {
        border-left:  1px solid rgba($color: #000000, $alpha: 1);
    }
    .navbar-collapse {
        box-shadow: none;
    }
}
nav.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

// CONTENT STYLES
.content-container {
    ol {
        margin-bottom: 0
    }
    label {
        display: block;
    }
    .btn {
        --bs-btn-padding-x: 0;
        --bs-btn-padding-y: 0;
        --bs-btn-font-size: inherit;
        --bs-btn-line-height: inherit;
    }
}
.clean-list {
    list-style-type: none;
    padding-left: 0;
}

.comment-header {
    span ~ span {
        padding-left: 0.25em;
    }
}
.comment-text {
    margin-left: 16px;
}

// FOOTER STYLES


// ALERT STYLES
body {
    .alert {
        --bs-alert-margin-bottom: 0;
    }

}
