<p>Hello <%= @resource.username %>!</p>


<p>You have requested to reset your password. Click the link below to reset it.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>All the best, Rafał from Cyberpunk News</p>