<footer>
    <nav class="navbar-expand">    
        <div class="container footer-container bg-body-side-color pb-4">
            <hr class="border-3 opacity-100 border-main-color">
            <div class="navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav text-secondary">
                    <li class="nav-item">
                        <a href="/guidelines" class="nav-link">
                            Guidelines
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/faq" class="nav-link">
                            FAQ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div> 
    </nav>
</footer>