<header>
  <nav class="navbar navbar-expand-sm bg-body-main-color">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">Cyberpunk News</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mt-auto">
          <li class="nav-item">
            <a href="/" class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a href="/new" class="nav-link">new</a>
          </li>
          <li class="nav-item">
            <a href="/users" class="nav-link">users</a>
          </li>
          <li class="nav-item">
            <a href="/posts/new" class="nav-link">submit</a>
          </li>
        </ul>

        <ul class="languages">
          <%= language_selector %>
        </ul>
        <% if logged_in? %>
          <%= link_to "Profile", user_path(current_user),
                                class: "nav-link login-link" %>
        <% else %>
          <%= link_to "Login", login_path,
                              class: "nav-link login-link"%>
        <% end %>
      </div>
    </div>
  </nav>
</header>